@import 'bootstrap/dist/css/bootstrap.min.css';
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

@font-face {
	font-family: Centra;
	src: url('./assets/fonts/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/fonts/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/fonts/CentraNo2-Book.ttf');
	font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}


.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@media (min-width:1700px) {
	main .container section img {
		max-width: 100%;
		padding: 0 150px;
	}
}

@media screen and (max-width: 1200px) {

  .headerImg {
  display: none !important;
  }

  .banner h1, p{
    text-align: center !important;
    align-items: center !important;
    margin-left: 10% !important;
  }

  #contato {
    display: none !important;
  }

  .projectCard {
    display: block !important;
    width: 100% !important;
    padding: 20px !important;
    margin-left: 2px !important;
  }

  .banner-logo {
    width: 50% !important;
    height: 50% !important;
  }

  .banner {
    width: 100% !important;
  }
  
  #about {
    padding-left: 150px !important;
  }

  .col-7 {
    margin-left: 80px !important;
    margin-top: -50px !important;
  }

  .sobre_texto, .aboutInfo {
    margin-left: -50px !important;
  }

  .projectCard {
    width: 100% !important;
  }

  .aboutImg {
    width: 100% !important;
  }

  .projects row {
    width: 100% !important;
    display: block !important;
  }
  
}

#contato {
  text-decoration: none;
}

/************ Navbar Css ************/
nav.navbar {
  background-color: #171717;
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
    width: 5%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 700;
  color: #DA0037 !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}

nav.navbar .navbar-nav a.nav-link.navbar-link::after {
  content: '';
  width: 0px;
  height: 0px;
  display: block;
  border-bottom: 2px solid transparent;
  transition: .7s;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover::after {
  width: 100%;
  height: 0px;
  padding: 0px;
  border-bottom: 2px solid #DA0037;
}

span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #DA0037;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #DA0037;
  border: 1px solid #DA0037;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #DA0037;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
  
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 260px 0px 0px 0px;
  background-image: url('./assets/img/banner.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-logo {
  width: 40%;
  height: 40%;
}

.banner h1 {
  font-size: 65px;
  color: #EDEDED;
  font-weight: 300;
  line-height:65px;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
  display: block;
  color: white; text-shadow: black 0.1em 0.1em 0.2em;
  position: relative;
}


#subtitle {
  line-height: 100px;
  text-decoration: overline 2px #DA0037;
}

.banner p {
  color: #EDEDED;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  color: white; text-shadow: black 0.1em 0.1em 0.2em
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  padding: 0px 0px 0px 250px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button:hover {
  color: #DA0037;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}



/************ CardProjects Css ************/


.projectCard {
  margin-top: 10px;
}

.projectCard img {
  filter: grayscale(90%);
}

.projectCard img:hover {
  transition: 300ms linear;
  filter: none;
}

/************ About Css ************/

#about {
  background: linear-gradient(0deg, rgb(29, 29, 29) 0%,rgb(16, 16, 16)) 100%;
  color: #EDEDED;
  margin-top: 10px;
}

#about img {
  width: 79.4%;
  height: 100%;
  border-radius: 2px;
  display: block;
}

.aboutInfo {
  margin-top: 30px;
  padding: 20px;
}

.contactInfo {
  margin-top: 20px;
}

.sobre_titulo {
  margin: 30px 0;
  grid-column: 1/-1;
  text-align: center;
  color: #fff;
}

.sobre_titulo h1 {
  font-size: 2.5rem;
  color: #EDEDED;
  margin-bottom: 15px;
}

.sobre_titulo p {
  color: #EDEDED;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  position: relative;
}

.sobre_titulo div {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.sobre_titulo  span {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
}

.sobre_texto {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 1fr;
}

.sobre_texto h1 {
  font-size: 2.3rem;
  color: #fff;
  grid-column: 1/-1;
}

.sobre_texto h1::after {
  background-color: var(--secondary-color);
  height: 6px;
  width: 60px;
  margin: 20px 0;
  content: '';
  display: block;
  border-radius: 5px;
}

.sobre_texto p {
  font-size: 1.3rem;
  grid-row: 2;
  grid-column: 1/-1;
}
.institution {
  font-weight: 700 !important;
} 

.year {
  font-size: 1.2rem;
  color: #fff;
  margin: 1px;
  font-weight: 700;
} 

/************ Projects Css ************/

.projects {
  position: relative;
  margin: 0px 0px 30px 0px;
}

.projects img {
  border-radius: 6px;
  padding: 10px 0px 10px 0px;
  filter: grayscale(90%);
  width: 100%;
  height: 100%;
}

.projects img:hover {
  transition: 200ms linear;
  filter: none;
}

/************ Partners Css ************/
.partners {
  padding: 0 0 40px 0;
  position: relative;
}
.partners-bx {
  background: #1a1a1a;
  border-radius: 64px;
  text-align: center;
  padding: 50px 50px;
}
.partners h2 {
	font-size: 45px;
	font-weight: 700;
}
.partners p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
    padding: 10px;
}

.item img {
  padding: 10px;
}

/************ Contact Css ************/
.contact {
  background: linear-gradient(0deg, rgb(54, 54, 54) 0%,rgb(37, 37, 37)) 100%;
  padding: 60px 0 60px 0;
}
.contact img {
  width: 75%;
  border-radius: 10px;
}

.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #ffffff;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}


/************ Footer Css ************/
.footer {
  padding: 20px 0 20px 0;
  background-image: url('./assets/img/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer img {
  width: 50%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.footer a {
  text-decoration: none;
  color: #B8B8B8;
}

.footer a:hover {
  text-decoration: none;
  color: #DA0037;
}

